<div class="comment-section">
    <header>
        <mat-icon class="close-button" (click)="close()">close</mat-icon>
    </header>

    <div class="posts">
        <div class="card">
            <mat-card>
                <div class="created-date">{{ formatDate(commentary.createdDate) }}</div>
                <mat-icon id="delete-post-button" *ngIf="commentary.owner.id === myId" (click)="deleteComment(commentary)">
                    delete</mat-icon>
                <mat-card-content>
                    <div style="min-height: 100px;">
                        <div class="poster-icon">
                            <img class="icon" [src]="commentary.owner.avatar" />
                        </div>
                        <div class="poster-address-wrapper">
                            <a style="opacity:0.5; color:white"> @{{commentary.owner.username}} </a>
                        </div>
                        <br>
                        <div class="poster-name-wrapper">
                            <a style="color:white"> {{commentary.owner.name}} </a>
                        </div>
                        <div class="post-text">
                            <p style="padding: 5px;">
                                {{commentary.body}}
                            </p>
                        </div>
                        <div *ngIf="commentary.image !== ''" class="post-attachment-img">
                            <img [src]="commentary.image" class="post-img-container" />
                        </div>
                        <div class="react-comment-share">
                            <button mat-raised-button type="button" class="heart" (click)="like(commentary)">
                                <mat-icon *ngIf="!commentary.liked">favorite</mat-icon>
                                <mat-icon id="favorite" *ngIf="commentary.liked">favorite</mat-icon>
                            </button>
                            <button mat-raised-button type="button" class="share">
                                <mat-icon>wifi_protected_setup</mat-icon>
                            </button>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <form [formGroup]="commentForm" (ngSubmit)="comment()">
        <div class="actions-wrapper">
            <mat-form-field appearance="fill" style="background-color: rgb(24, 45, 70); width: 100%;">
                <mat-label>Escreva um comentário</mat-label>
                <textarea formControlName="body" matInput style="resize: none;" maxlength="500"
                    (blur)="showEmojiPicker ? onBlur() : null" (focus)="onFocus()"></textarea>
            </mat-form-field>

            <div *ngIf="imgBase64 !== '' && imgBase64 !== null" class="image-selected">
                <img [src]="imgBase64" alt="">
            </div>
            <div class="image-input">
                <input #imageInput type="file" accept="image/*" onclick="this.value=null" hidden
                    (change)="changeListener($event)">
                <button mat-raised-button id="btn-attachment" (click)="imageInput.click()" type="button">
                    <mat-icon>insert_photo</mat-icon>
                </button>
                <button mat-raised-button type="button" id="btn-emoji" (click)="toggleEmojiPicker()">
                    <mat-icon>insert_emoticon</mat-icon>
                    <!--😀-->
                </button>
                <emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker"
                    (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>
                <div class="remove-image-button">
                    <mat-icon *ngIf="imgBase64 !== '' && imgBase64 !== null" (click)="clearImage()">
                        delete</mat-icon>
                </div>
                <button mat-raised-button type="submit" id="btn-post">Postar</button>
            </div>
        </div>
    </form>

    <div *ngFor="let comment of comments" class="card">
        <mat-card>
            <div class="created-date">{{ formatDate(comment.createdDate) }}</div>
            <mat-icon id="delete-post-button" *ngIf="comment.owner.id === myId" (click)="deleteComment(comment)">
                delete</mat-icon>
            <mat-card-content>
                <div style="min-height: 100px;">
                    <div class="poster-icon">
                        <img class="icon" [src]="comment.owner.avatar" />
                    </div>
                    <div class="poster-address-wrapper">
                        <a style="opacity:0.5; color:white"> @{{comment.owner.username}} </a>
                    </div>
                    <br>
                    <div class="poster-name-wrapper">
                        <a style="color:white"> {{comment.owner.name}} </a>
                    </div>
                    <div class="post-text">
                        <p style="padding: 5px;">
                            {{comment.body}}
                        </p>
                    </div>
                    <div *ngIf="comment.image !== ''" class="post-attachment-img">
                        <img [src]="comment.image" class="post-img-container" />
                    </div>
                    <div class="react-comment-share">
                        <button mat-raised-button type="button" class="heart" (click)="like(comment)">
                            <mat-icon *ngIf="!comment.liked">favorite</mat-icon>
                            <mat-icon id="favorite" *ngIf="comment.liked">favorite</mat-icon>
                        </button>
                        <button mat-raised-button type="button" class="share">
                            <mat-icon>wifi_protected_setup</mat-icon>
                        </button>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>