<div class="container">

    <p style="color: white; font-size: 23.6px;">Notificações</p>
    <div id="line"></div>
    <div class="notification-container">

        <div class="notification">

            <div class="icon-wrapper">
                <img class="icon" src="../../../assets/img/user.png" />
            </div>
            
            <div class="data-wrapper">
                <a class="adress">@Unknown_User</a>
                <p class="name">Unknown User</p>
                <p class="action">Curtiu sua publicação!</p>
            </div>

            <div class="action-wrapper"> 
                <img class="reaction" src="../../../assets/img/heart_reaction.png" /> 
            </div>

            <div class="post-wrapper">
                <img class="post" src="../../../assets/img/meeting.jpg" /> 
            </div>
        </div> 

        <div class="notification">

            <div class="icon-wrapper">
                <img class="icon" src="../../../assets/img/user.png" />
            </div>
            
            <div class="data-wrapper">
                <a class="adress">@Unknown_User</a>
                <p class="name">Unknown User</p>
                <p class="action">Comentou sua publicação</p>
            </div>

            <div class="action-wrapper"> 
                <img class="reaction" src="../../../assets/img/comment.png" /> 
            </div>

            <div class="post-wrapper">
                <img class="post" src="../../../assets/img/meeting.jpg" /> 
            </div>
        </div>

        <div class="notification">

            <div class="icon-wrapper">
                <img class="icon" src="../../../assets/img/user.png" />
            </div>
            
            <div class="data-wrapper">
                <a class="adress">@Unknown_User</a>
                <p class="name">Unknown User</p>
                <p class="action">Comentou sua publicação</p>
            </div>

            <div class="action-wrapper"> 
                <img class="reaction" src="../../../assets/img/share.png" /> 
            </div>

            <div class="post-wrapper">
                <img class="post" src="../../../assets/img/meeting.jpg" /> 
            </div>
        </div>

    </div>

</div>