.container{
    height: 100%; 
    border: 1px solid #ABABAB;
    border-radius: 1px;  
}
#background_{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.4;
}

#profile_picture_img{
    margin-top: 35px;
    margin-left: 35px;
    max-height: 150px;
    height: auto;
    max-width: 150px;
    width: auto;
    z-index: 2;
}

#user_data{
    color: white;
    margin-left: 30px;
    text-align:left;
    margin-top: 10px;
    font-size: 25px;
}

#user_adress{
    margin-top: 20px;
}

#header_posts{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 28px;
}