.container {
    height: 100%;
    border: 1px solid #ababab;
    border-radius: 1px;
}

#background_ {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    opacity: 0.4;
}

.wrapper {
    margin-top: 20px;
    padding-top: 10px;
    width: 99.5%;
    border-bottom: 1px solid white;
    opacity: 0.5;
    height: 30px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: linear-gradient(rgba($color: #000000, $alpha: 0), rgba($color: #000000, $alpha: 0.3));
    }
}

.follow-btn {
    background-color: rgba($color: #2f64b9, $alpha: 1);
}

.header-for-img {
    text-align: right;
    p {
        margin-top: 35px;
        margin-right: 35px;
        float: right;
    }
}

.user-section {
    transition: 2s;
}

.img-container {
    margin-top: 35px;
    margin-left: 35px;
    max-height: 150px;
    height: auto;
    max-width: 150px;
    width: auto;
    z-index: 2;
    max-height: fit-content;
    float: left;
}

.edit-icon {
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    margin-top: -135px;
    margin-left: -15px;
    position: absolute;
    background-color: rgba($color: #2f64b9, $alpha: 1);
    border-radius: 20px;
    width: 40px;
    height: 32px;
}

.save-icon {
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    margin-top: -135px;
    margin-left: -15px;
    position: absolute;
    background-color: rgba($color: green, $alpha: 1);
    border-radius: 20px;
    width: 40px;
    height: 32px;
}

.save-message {
    width: 145px;
    margin-top: -135px;
    margin-left: 30px;
    position: absolute;
}

.inputForName {
    width: 50%;
    min-width: 450px;
    margin-top: -1.25em;
    margin-bottom: -1.25em;

}

.loadingName {
    margin-top: -30px;
    float: right;
}

.cancel-icon {
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    margin-top: -90px;
    margin-left: -15px;
    position: absolute;
    background-color: rgba($color: red, $alpha: 1);
    border-radius: 20px;
    width: 40px;
    height: 32px;
}

#profile_picture_img {
    width: 100%;
}

#user_data {
    color: white;
    margin-left: 30px;
    text-align: left;
    padding-top: 10px;
    font-size: 25px;
    clear: both;
    float: left;
    min-width: 200px;
}

#user_adress {
    margin-top: 20px;
}

#header_posts {
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 28px;
}
