<div class="container2">
    <ng-container class="user-section" *ngIf="!seePosts">
        <div class="header-for-img">
            <div class="image-input">
                <input #imageInput type="file" accept="image/*" onclick="this.value=null" hidden
                    (change)="changeListener($event)">
            </div>
            <div class="img-container">
                <img id="profile_picture_img" [src]="user?.avatar" />
                <ng-template [ngIf]="!readyToSave" [ngIfElse]="saveOptions">
                    <mat-icon matTooltip="Editar imagem" matTooltipClass="material-tooltip" (click)="imageInput.click()"
                        class="edit-icon">edit</mat-icon>
                </ng-template>
                <ng-template #saveOptions>
                    <mat-icon matTooltip="Salvar imagem" matTooltipClass="material-tooltip" (click)="save()"
                        class="save-icon">save</mat-icon>
                    <span class="save-message">Tem certeza que quer salvar este avatar?</span>
                    <mat-icon matTooltip="Cancelar" matTooltipClass="material-tooltip" (click)="getProfileData()"
                        class="cancel-icon">cancel</mat-icon>
                </ng-template>
            </div>
            <p>Entrou em {{ user ? formatDate(user.createdDate) : '' }}</p>
        </div>
        <br style="clear: both;">
        <div id="user_data">
            <p>{{ user?.name }}</p>
            <p id="user_adress" style="opacity: 0.5;">@{{ user?.username }}</p>
        </div>
    </ng-container>
    <div class="wrapper" (click)="seePosts ? showUser() : showPosts()">
        <mat-icon *ngIf="!seePosts" matTooltip="Mostrar as postagens do usuário" matTooltipClass="material-tooltip">
            keyboard_arrow_up</mat-icon>
        <mat-icon *ngIf="seePosts" matTooltip="Mostrar usuário" matTooltipClass="material-tooltip">
            keyboard_arrow_down</mat-icon>
    </div>
    <mat-grid-list *ngIf="seePosts" cols="2" rowHeight="100%">
        <mat-grid-tile>
            <div *ngFor="let post of posts" class="card">
                <mat-card>
                    <div class="created-date">{{ formatDate(post.createdDate) }}</div>
                    <mat-icon id="delete-post-button" *ngIf="post.owner.id === userId" (click)="deletePost(post)">
                        delete</mat-icon>
                    <mat-card-content>
                        <div style="min-height: 100px;">
                            <a href="javascript:window.location.reload(true)">
                                <div class="poster-icon">
                                    <img class="icon" [src]="post.owner.avatar" />
                                </div>
                                <div class="poster-address-wrapper">
                                    <a style="opacity:0.5; color:white"> @{{post.owner.username}} </a>
                                </div>
                                <br>
                                <div class="poster-name-wrapper">
                                    <a style="color:white"> {{post.owner.name}} </a>
                                </div>
                            </a>
                            <div class="post-text">
                                <p style="padding: 5px;">
                                    {{post.body}}
                                </p>
                            </div>
                            <div *ngIf="post.image !== ''" class="post-attachment-img">
                                <img [src]="post.image" class="post-img-container" />
                            </div>
                            <div class="react-comment-share">
                                <button mat-raised-button type="button" class="heart" (click)="like(post)">
                                    <mat-icon *ngIf="!post.liked">favorite</mat-icon>
                                    <mat-icon id="favorite" *ngIf="post.liked">favorite</mat-icon>
                                </button>
                                <button mat-raised-button type="button" class="comment"
                                    (click)="openCommentarySection(post)">
                                    <mat-icon>comment</mat-icon>
                                </button>
                                <button mat-raised-button type="button" class="share">
                                    <mat-icon>wifi_protected_setup</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="scroll-wrapper">
                <ng-template [ngIf]="postSelected">
                    <app-comments [commentary]="postSelected" (closed)="closeCommentarySection()"></app-comments>
                </ng-template>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>