.label-for-title {
    margin-bottom: -3px;
    color: #ababab;
}

h1 {
    font-size: 40px;
    margin-bottom: -2px;
}

.about {
    margin-top: -10px;
    border: solid 1px #ababab;
    border-radius: 10px;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto; 
}