<div class="container">

    <div class="search-box" style="margin-right: 8px;">
        <mat-form-field appearance="fill" style="background-color: rgb(24, 45, 70); width: 100%;">
            <mat-label>Digite o nome da pessoa...</mat-label>
            <textarea matInput style="resize: none;"></textarea>
            <div id="btn-search-icon">
                <button id="button-search-btn"> <img id="search-btn" src="../../../assets/img/search-btn.png"> </button>
            </div>    
        </mat-form-field>
    </div>

    <div class="people">

        

    </div>

</div>
