<div class="container">
    <div>
        <mat-form-field appearance="fill" style="background-color: rgb(24, 45, 70); width: 100%;">
            <mat-label>Alguma novidade?</mat-label>
            <textarea matInput style="resize: none;"></textarea>
            <div class="actions-wrapper">
                <button mat-raised-button id="btn-attachment"><img id="attach-img" src="../../../assets/img/attach.png"/></button>
                <button mat-raised-button id="btn-emoji"><img id="emoji-img" src="../../../assets/img/emoji.png"/></button>
                <button mat-raised-button color="primary" id="btn-post">Postar</button>
            </div>
            
        </mat-form-field>
        
    </div>
    <br>
    <div class="posts">
        <div class="card">
            <mat-card>
                <mat-card-content>
                    <div style="min-height: 100px;">
                        <div class="poster-icon">
                            <img class="icon" src="../../../assets/img/user.png" />
                        </div>
                        <div class="poster-address-wrapper">
                           <a style="opacity:0.5; color:white"> @Unknown_User </a>
                        </div>
                        <br>
                        <div class="poster-name-wrapper">
                            <a style="color:white"> Unknown User </a>
                         </div>
                         <div class="post-text">
                            <p style="padding: 5px;">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                         </div>
                         <div class="post-attachment-img">

                            <img />

                         </div>
                         
                        
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>
</div>