.card {
    color: #fff;
    top: 0;
    opacity: 1;
    padding: 30px;
    width: 87%;
    background: rgba(24, 45, 70, 1);
    box-shadow: inset 0 0 1em rgba(24, 45, 70, 1);
    border-radius: 10px;
    margin: 0 0 20px 0;
    word-wrap: break-word;
    min-width: 300px;
}

.scroll-wrapper{
    margin-right: 10px;
}

.mat-grid-tile {
    margin: 5px;
    overflow-y: auto;
}

.icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
    position: relative;
}

.poster-icon {
    float: left;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: 5px;
}

.poster-address-wrapper {
    float: left;
    margin-top: -28px;
    margin-left: -5px;
}

.poster-name-wrapper {
    float: left;
    margin-top: -25px;
    margin-left: 8px;
    font-size: 21px;
    font-weight: bold;
}

.post-text {
    margin-left: 50px;
    width: 300px;
}

#btn-post {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-style: white;
    width: 100px;
    height: 40px;
    right: 10px;
    position: absolute;
}

#btn-attachment {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#btn-emoji {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

#attach-img {
    width: 20px;
    height: 20px;
}

#emoji-img {
    width: 20px;
    height: 20px;
}

#favorite {
    color: red;
}

#delete-post-button {
    position: absolute;
    left: calc(87%);
    cursor: pointer;
}

.created-date {
    margin-top: -23px;
    width: 400px;
    position: absolute;
    left: calc(68%);
    opacity:0.5; 
    color:white;
}

.post-attachment-img {
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-height: 500px;
}

.post-img-container {
    width: 100%;
    height: auto;
}

.heart-comment-share {
    margin-top: 10px;
}

.heart-btn {
    width: 40px;
    margin-left: 5px;
}

.comment-btn {
    width: 40px;
    margin-left: 5px;
}

.share-btn {
    width: 40px;
    margin-left: 5px;
}

.heart {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.comment {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-left: 10px;
}

.share {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin-left: 100px;
}

.image-input {
    margin: 10px;
    bottom: 13px;
    color: white;
    display: flex;

    .remove-image-button {
        padding: 5px;
        :hover {
            cursor: pointer;
        }
    }
}

.image-selected {
    overflow: hidden;
    text-align: center;
    img {
        max-height: 400px;
        max-width: 100%;
        width: auto;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 430px) {

  }
