<div id="menu">
    <mat-card>
        <mat-card-content>
            <div style="min-height: 100px;">
                <img src="..." alt="Logo">
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <ul>
        <li>
            <button mat-stroked-button color="primary" class="btn-block">Item 1</button>
        </li>
        <li>
            <button mat-stroked-button color="primary" class="btn-block">Item 2</button>
        </li>
        <li>
            <button mat-stroked-button color="primary" class="btn-block">Item 3</button>
        </li>
        <li>
            <button mat-stroked-button color="primary" class="btn-block">Item 4</button>
        </li>
        <li>
            <button mat-stroked-button color="primary" class="btn-block">Item 5</button>
        </li>
        <li>
            <button id="post-button" mat-stroked-button color="accent" class="btn-block">Item 6</button>
        </li>
    </ul>
</div>