<div id="menu" style="margin-left: 5px;">
    <mat-card>
        <mat-card-content>
            <div style="min-height: 100px;">
                <img style="max-height: 200px; width: 100%; max-width: 250px; margin-top: 15px;" src="../../../../assets/img/breeze-lateral.png" alt="Logo">
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <ul>
        <li>    
             <button mat-button class="btn-block menu-btn" routerLink="/"><img class="icon" src="../../../../assets/img/home.png"/><span>Página inicial</span></button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block menu-btn" routerLink="/notifications"> <img class="icon" src="../../../../assets/img/bell.png"/> <span>Notificações</span></button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block menu-btn" routerLink="/messages"><img class="icon" src="../../../../assets/img/message.png"/><span>Mensagens</span></button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block menu-btn" routerLink="/profile"><img class="icon" src="../../../../assets/img/profile.png"/><span>Perfil</span></button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block menu-btn" routerLink="/team"><img class="icon" src="../../../../assets/img/group.png"/><span>Sua Equipe</span></button>
        </li>
        <li>
            <button id="post-button" mat-raised-button color="primary" class="btn-block">Criar post</button>
        </li>
    </ul>
</div>