<div id="menu">
    <mat-card>
        <mat-card-content>
            <div style="min-height: 100px;">
                <img style="max-height: 200px; width: 100%; max-width: 192.08px;" src="../../../../assets/img/breeze.png" alt="Logo">
            </div>
        </mat-card-content>
    </mat-card>
    <br>
    <ul>
        <li>
            <button mat-button color="primary" class="btn-block" routerLink="/">Página inicial</button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block">Item 2</button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block">Item 3</button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block">Item 4</button>
        </li>
        <li>
            <button mat-button color="primary" class="btn-block">Item 5</button>
        </li>
        <li>
            <button id="post-button" mat-raised-button color="primary" class="btn-block">Criar post</button>
        </li>
    </ul>
</div>