@import "~@ctrl/ngx-emoji-mart/picker";
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$dark-primary: mat-palette($mat-blue);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);

// Background palette for dark themes.
$mat-dark-theme-background: (
    status-bar: #15202b,
    app-bar: map_get($mat-grey, 900),
    background: #303030,
    hover: rgba(white, 0.04),
    // TODO(kara): check style with Material Design UX
    card: map_get($mat-grey, 800),
    dialog: #15202b,
    disabled-button: $white-12-opacity,
    raised-button: #3b7eeb,
    focused-button: $white-6-opacity,
    selected-button: map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle: map_get($mat-grey, 1000),
);

// Foreground palette for dark themes.
$mat-dark-theme-foreground: (
    base: white,
    divider: $white-12-opacity,
    dividers: $white-12-opacity,
    disabled: rgba(white, 0.3),
    disabled-button: rgba(white, 0.3),
    disabled-text: rgba(white, 0.3),
    hint-text: rgba(white, 0.3),
    secondary-text: rgba(white, 0.7),
    icon: white,
    icons: white,
    text: white,
    slider-off: rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
);

$dark-theme: mat-dark-theme(
    (
        color: (
            primary: $dark-primary,
            accent: $dark-accent,
            warn: $dark-warn,
        ),
    )
);

@include angular-material-color($dark-theme);

html,
body {
    margin: 0;
    padding: 5px;
}

.mat-grid-tile .mat-figure {
    display: block !important;
}

body {
    background-attachment: fixed;
    background-color: #15202b;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    font-family: "Roboto", sans-serif;
}

.emoji-mart {
    position: absolute;
    background-color: #15202b;
    z-index: 100;
    margin: 20px 0px 0px 0px;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.app-header {
    background: rgba(21, 32, 43, 1);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: 0 3px 5px -1px rgba(24, 45, 70, 0.2), 0 6px 10px 0 rgba(24, 45, 70, 0.14),
        0 1px 18px 0 rgba(24, 45, 70, 0.12);
}
.login-wrapper {
    height: 95vh;
}

.container {
    margin: 80px 0 80px 35%;
    min-height: 200px;
    max-width: 600px;
    width: 80%;
    background: #15202b;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(24, 45, 70, 1);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3b7eeb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #2f64b9, $alpha: 1);
}

.container2 {
    margin: 80px 0 0 35%;
    height: 85vh;
    width: 65%;
    background: #15202b;
    border-radius: 5px;
}

.box {
    color: #fff;
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: rgba(24, 45, 70, 1);
    box-shadow: inset 0 0 1em rgba(24, 45, 70, 1);
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
}
.box.back {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1;
}
.box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    z-index: -1;
}
.login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}
.login-wrapper .example-full-width,
.login-wrapper .btn-block {
    width: 100%;
}
.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}
.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}
.login-wrapper .mat-card {
    padding: 40px 70px 50px;
}
.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #fff7fa;
}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}

html,
body {
    color: white;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
